@use "./normalize.scss" as *;

$fontFamily: "alipuhui", sans-serif;

$color: #212121;

@mixin Transition {
    transition: all 0.2s linear;
}

html,
.wrapper,
body,
body > div:not([class], [id]) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    background-image: url("./Image/bg.png");
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.wrapperScroll {
    background: rgba(255, 255, 255, 0.4);
}

.wrapperBody {
    padding: 0 22px;
    box-sizing: border-box;
}

.question {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 32px;
    width: 100%;
    flex: 0 0 auto;
}

.questionContent {
    color: #381100;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.questionDes {
    color: #9e370a;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

@mixin Total {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: $fontFamily;
    letter-spacing: 0.2px;
    color: #212121;
}

/****** 上方原始数据部分 start *********/
.warehouse_wrap {
    margin-bottom: 32px;
    flex: 0 0 auto;
}

.warehouse_total {
    @include Total();
}

.warehouse_totalVal {
    color: #9e370a;
    margin: 0 5px;

    &.red {
        color: #ff7745;
    }
}

.warehouse_scrollWrap {
    margin-top: 8px;
    box-sizing: border-box;
}

.warehouse_scrollBody {
    min-height: 100px;
    max-height: 178px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
}

.placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warehouse_body {
    width: calc(100% + 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-content: flex-start;
}
/****** 上方原始数据部分 end *********/
.dragContent {
    position: relative;
    z-index: 3;

    background-image: url("./Image/btn_center.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top left;
    background-color: transparent;
}

.dragPortalContainer {
    z-index: 50;
    position: absolute !important;
    pointer-events: none;
    box-sizing: border-box;
}

.hr {
    width: 100%;
    margin-bottom: 54px;
    height: 7px;
    background-image: url("./Image/hr.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    background-position: left center;
}

/********** 下方 放置区域 start ******************/
.parking_wrap {
    width: 100%;
}

.parking_main {
    background-image: linear-gradient(#864c19, #864c19), linear-gradient(#704d27, #704d27);
    background-blend-mode: normal, normal;
    box-shadow: 0px 18px 18px 0px rgba(192, 162, 120, 0.48);
    border-radius: 6px;
    position: relative;
    top: -1%;
    width: calc(100% - 4%);
    margin: 0 auto;
    z-index: 0;
}

.parking_head {
    position: relative;
    z-index: 1;
}

.parking_headBgContainer {
    position: relative;
}

.parking_headBg {
    width: 100%;
}

.parking_headLeft {
    position: absolute;
    object-fit: cover;
    object-position: top left;
    height: 70%;
    left: -6px;
    top: -3px;
}

.parking_headRight {
    position: absolute;
    object-fit: cover;
    object-position: top left;
    height: 70%;
    right: -6px;
    top: -6px;
}

.parking_headContent {
    width: 100%;
    object-fit: cover;
    object-position: top left;
}

.headContent {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
}

.headContent_value {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #58240d;
    font-family: $fontFamily;
    top: 0;
    left: 0;
}

.parking_list {
    width: 100%;
    height: 160px;
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    @include Transition();

    position: relative;
}

.parking_container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 59px;
}

.parkingBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.parking_item {
    height: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        position: absolute;
        left: 12px;
        top: 12px;
        box-sizing: border-box;
        border-radius: 6px;
        pointer-events: none;
        border: 1px dashed transparent;
        @include Transition();
    }
    &.parking_item__active {
        &::before {
            border-color: #22a6b3;
        }
    }

    .dragItem {
        margin-right: 0;
        margin-bottom: 0;
    }

    &.parking_item__fill {
        .parking_placeholder {
            top: 16px;
            left: 16px;
            transform: translate(0, 0);
            font-size: 20px;
            line-height: 24px;
            opacity: 1;
        }
    }
}

.parking_item__border {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        right: 0;
        height: 100px;
        width: 1px;
        background-color: rgba(#00bdff, 0.3);
    }
}

.parking_placeholder {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 46px;
    color: #0ad7e4;
    position: absolute;
    letter-spacing: 0.15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include Transition();
}

.parkingBg_wrap {
    position: absolute;
    top: 7px;
    left: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.parkingBg_left {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
}

.parkingBg_leftTop {
    height: 30%;
    flex: 0 0 auto;
    object-fit: cover;
    object-position: top left;
    width: auto;
}

.parkingBg_leftCenter {
    flex: 1 1 auto;
    background-color: #ceb38c;
    width: 100%;
}

.parkingBg_leftBottom {
    flex: 0 0 auto;
    object-fit: cover;
    object-position: top left;
    width: 100%;
    height: auto;
}

/********** 下方 放置区域 end ******************/

/*************** btn_wrap start *****************************/
.btn_wrap {
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    margin-right: 20px;
    margin-bottom: 17px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #381100;

    &.gray {
        background-color: rgba(gray, 0.2);
        * {
            visibility: hidden;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        left: -5px;
        top: -4px;
        pointer-events: none;
        border-width: 12px 17px 14px 17px;
        border-style: solid;
        border-color: transparent;
        border-image: url("./Image/btn.png") 100 141 116 141;
        box-sizing: border-box;
    }
}

/*************** btn_wrap end *****************************/
